.App {
  text-align: center;
}
img{
  width: 100%;
}
.container{
   /*display: flex;
   flex-wrap: wrap;*/
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.item{
  flex: 1; 
  flex-basis: 120px; 
  padding: 10px;
  border: 1px solid green;
  position: relative;
  overflow: hidden;
}

.overlay{
  transition: bottom ease 1s;
  position: absolute;
  bottom: -100px;
  color: black;
  background-color: white;
  left: 0;
  width: 100%;
}

.overlaydown{
  transition: bottom ease 1s;
  position: absolute;
  bottom: 400px;
  width: 95%;
  color: black;
  background-color: white;
  opacity: 0.7;
}

.item:hover .overlaydown{
  display: block;
  bottom: 300px;
}

.item:hover .overlay{
  display: block;
  bottom: 0;
}

.icons{
  width: 15%;
}
/*@media only screen and (max-width: 600px){
  .container{
    flex-direction: column;
  }
}*/